@import "tailwindcss";

@variant dark (:where(html.dark) &);

html {
  font-family: system-ui, sans-serif;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: white;
  color: black;
}

html.dark body {
  background-color: rgb(17, 24, 39);
  color: white;
}
